<nav class="navbar navbar-expand-lg navbar navbar-light">
  <a class="navbar-brand" href="#">MyApp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="{% url 'mainapp:index' %}">Главная</a>
      <a class="nav-item nav-link" href="{% url 'mainapp:catalogs' %}">Каталоги</a>
      <span class="nav-item"> ------ Сайт: {{ site.name }}</span>
    </div>
  </div>
</nav>